body {
    background-image: url(../art/background-controllers.PNG)
}

div.title {
    background-color: azure;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 25px;
    font-family: 'Pacifico', cursive;
    font-size: 40px;
    text-align: center;
    box-shadow: 10px 10px 5px grey;
}

div.title, h2 {
    font-size: 20px;
    padding-bottom: 10px;
}

h3 {
    background-color: azure;
    margin-left: 200px;
    margin-right: 200px;
    padding: 10px;
    border-radius: 25px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    text-align: center;
    box-shadow: 10px 10px 5px grey;
}

form {
    background-color: azure;
    margin-left: 200px;
    margin-right: 200px;
    padding: 10px;
    border-radius: 25px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    padding-left: 300px;
    box-shadow: 10px 10px 5px grey;
}

ul#games-container {
    background-color: azure;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 25px;
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
    box-shadow: 10px 10px 5px grey;
}

li {
    background-color: lightcoral;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 25px;
    font-family: 'Courier New', Courier, monospace;
    box-shadow: 10px 10px 5px black;

}

ul.comments-list-container li {
    padding: 10px;
    border: hidden;
    font-family: 'Courier New', Courier, monospace;
    box-shadow: none;
}


